@CHARSET "UTF-8";

@media(max-width:1000px) {
    #night{
        height: 380vh;
        background: #222831;
    }

   /* #sun:hover ~ #intro>#intro2,#sun:hover ~ #intro>#intro4 {
        color: yellow !important;
        text-shadow: 0 0 3px #fff, 0 0 5px #fff;
    }
    #sun:hover ~ #intro>#intro1,#sun:hover ~ #intro>#intro3{
        opacity:1;
    }*/

    /*#face{
        width: 101px;
        height: 101px;
        padding: 0px;
        border-radius: 50px;
        position: fixed;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        z-index:100;
        opacity:0;
    }
    #face:hover{
        animation: intro1 1s ease-out forwards;
    }

     @keyframes intro1{
        from{
            opacity:0;
        }
        to{
            opacity: 1;
        }
    }*/

    #intro1{
		color: white;
		font-size: 40px;
		font-family: sans-serif;
		position: absolute;
		left: 10%;
		animation: intro1 1s ease-out forwards;
	}
	#intro2{
		color: white;
		font-size: 40px;
		font-family: sans-serif;
		position: absolute;
		bottom: 350px;
		left: 10%;
		animation: intro2 1.5s ease-out forwards;
	}
	#intro3{
		color: white;
		font-size: 40px;
		font-family: sans-serif;
		position: absolute;
		left: 10%;
		animation: intro3 1.5s ease-out forwards;
	}
	#intro4{
		color: white;
		font-size: 40px;
		font-family: sans-serif;
		position: absolute;
		left: 10%;
		animation: intro4 1.5s ease-out forwards;
	}
	@keyframes slide{
		from{
			left:-200px;
			opacity: 0;
		}
		to{
			left:50px;
			opacity: 1px;
		}
	}
	@keyframes disappear{
		from{
			left:50px;
			opacity: 1px;

		}
		to{
			left:-200px;
			opacity: 0;
		}
	}

	@keyframes intro1{
		from{
		    bottom: 200px;
			opacity:0;
		}
		to{
			bottom: 400px;
			opacity: 1;
		}
	}
	
	@keyframes intro2{
		0%{
			opacity:0;
		}
		99%{
			opacity:1;
		}
		100%{
			opacity:1;
		}
	}
		
	
	@keyframes intro3{
		0%{
			opacity:0;
			bottom: 150px;
		}
		65%{
			opacity: 1;
			bottom:350px;
		}
		100%{
			opacity: 1;
			bottom:300px;
		}
	}
	@keyframes intro4{
		0%{
			opacity:0;
			bottom:100px;
		}
		65%{
			opacity: 1;
			bottom:300px;
		}
		100%{
			opacity: 1;
			bottom:250px;
		}
	}

	#introduce{
        position:absolute;
        top:150vh;
        left:50%;
        transform:translate(-50%);
        width: 90%;
        height:1200px;
        border-radius:30px;
        border: 3px solid skyblue;
        background-color: #222831;
    }
    #introduce1_title{
        top: 50px;
        left: 10%;
        width: 80%;
        color: #20BF55;
        position: absolute;
        font-size: 55px;
        font-weight:900;
    }

    .introduce_inner_hr{
        top: 130px;
        left: 10%;
        width: 80%;
        height:2px;
        position: absolute;
        background: linear-gradient(to right, #20BF55, #F5F5F5);
    }

    .introduce_inner{
        top:200px;
        left: 10%;
        right: 10%;
        width: 80%;
        color: white;
        position: absolute;
        font-size: 38px;
        font-weight:500;
        letter-spacing:2px;
        line-height:55px;
        opacity:0;
    }

    #introduce2{
    	position:absolute;
    	top:300vh;
    	left:50%;
    	transform:translate(-50%);
    	width: 80%;
    	height:80%;
    	background-color:red;
    }

    .detail_button{
    	border: 1px solid #00FF94;
    	color:white;
    	top: 450px;
    	color: #00FF94;
    	font-size: 25px;
    	border-radius:0.5em;
    	padding: 5px 15px;
    	position: absolute;
    	transition: background, 0.2s;
    }
    .detail_button:hover{
    	border: 1px solid yellow;
    	color: yellow;
    	text-shadow: 0 0 3px #fff, 0 0 5px #fff;
    	box-shadow:0 0 3px #fff, 0 0 5px #fff;
    }
}