@CHARSET "UTF-8";

	
body{
	margin: 0px;
	height: 2000px;
}

.typeText::after {
  content: "|";
  animation:  blink 1s step-end infinite;
  animation-delay: 1.3s;
  opacity:0;
}


@keyframes blink {
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}
@keyframes blink_fin {
	0% {
	    opacity:0;
	  }
	  49% {
	    opacity:0;
	  }
	  50% {
	    opacity:0;
	  }
	  100% {
	    opacity:0;
	  }
}
