@CHARSET "UTF-8";

@media(min-width:1001px) {
	#sun:hover ~ #intro>#intro2,#sun:hover ~ #intro>#intro4{
	color: yellow !important;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
		
	}
	#sun:hover ~ #intro>#intro1,#sun:hover ~ #intro>#intro3{
	opacity:0;
	}
	#intro1{
		color:white;
		font-size: 2rem;
		font-weight:bold;
		font-family: sans-serif;
		position: absolute;
		left: 200px;
		/* opacity:1; */
		animation: intro1 1s ease-out forwards;
	}
	#intro2{
		color:white;
		font-size: 2rem;
		font-weight:bold;
		font-family: sans-serif;
		position: absolute;
		left: 200px;
		opacity:1;
		animation: intro2 1.5s ease-out forwards;
	}
	#intro3{
		color:white;
		font-size: 2rem;
		font-weight:bold;
		font-family: sans-serif;
		position: absolute;
		left: 200px;
		opacity:1;
		animation: intro3 1.5s ease-out forwards;
	}
	#intro4{
		color:white;
		font-size: 2rem;
		font-weight:bold;
		font-family: sans-serif;
		position: absolute;
		left: 200px;
		opacity:1;
		animation: intro4 1.5s ease-out forwards;
	}
	
	@keyframes intro1{
		from{
			opacity:0;
			bottom:10rem;
		}
		to{
			opacity: 1;
			bottom:15rem;
		}
	}
	
	@keyframes intro2{
		0%{
			opacity:0;
		}
		99%{
			opacity:1;
			bottom:12.5rem;
		}
		100%{
			opacity:1;
			bottom:12.5rem;
		}
	}
		
	
	@keyframes intro3{
		0%{
			opacity:0;
			bottom:7.5rem;
		}
		65%{
			opacity: 1;
			bottom:12.5rem;
		}
		100%{
			opacity: 1;
			bottom:10rem;
		}
	}
	@keyframes intro4{
		0%{
			opacity:0;
			bottom:5rem;
		}
		65%{
			opacity: 1;
			bottom:10rem;
		}
		100%{
			opacity: 1;
			bottom:7.5rem;
		}
	}
	
	@keyframes opa_on{
		from{
			opacity: 0;
		}
		to{
			opacity: 1;
		}
	}
	

	
	@keyframes up{
		to{
			top:-100vh;
		}
	}
	
	@keyframes intro1_down{
		from{
			top:-100vh;
		}
		to{
			top:60vh;
		}
	}
	
	@keyframes intro2_down{
		from{
			top:-100vh;
		}
		to{
			top:65vh;
		}
	}
	
	@keyframes intro3_down{
		from{
			top:-100vh;
		}
		to{
			top:70vh;
		}
	}
	
	@keyframes intro4_down{
		from{
			top:-100vh;
		}
		to{
			top:75vh;
		}
	}
	
	@keyframes slide{
		from{
			left:-100px;
			/* opacity: 0; */
		}
		to{
			left:10vh;
			/* opacity: 1px; */
		}
	}
	@keyframes disappear{
		from{
			left:200px;
			opacity: 1;
			
		}
		to{
			left:-100px;
			opacity: 0;
		}
	}
	
	/* body{
		background-color: black;
	} */
	
	
	@keyframes resume{
		from{
			left:0em;
			opacity: 0;
		}
		to{
			top:70em;
			opacity: 1;
		}
	}
	
	#night{
		/* animation: goBlack 1.5s ease-out; */ 
	}
	
	
	#resume_photo1{
		width: 300px;
		position: absolute;
		top: 25vh;
		right: 300px;
		border: 10px solid #00ADB5;
	}
	#resume_photo2{
		width: 300px;
		position: absolute;
		top: 35vh;
		right: 150px;
		border: 10px solid #00ADB5;
		transform: rotate(5deg);
	}

	
	@keyframes resume_photo{
		from{
			right:-300px;
			/* opacity: 0; */
		}
		to{
			right:200px;
			/* opacity: 1px; */
		}
	}
	
	#project > #resume_text1{
		top:5vh;
		left: 10vh;
		color: #00FF94;
		position: absolute;
		font-size: 5em;
		font-weight:900;
	}
	#project > #resume_text1::after {
	    font-family: Montserrat, sans-serif;
	    content: "Projects";
	    position: absolute;
	    color: transparent;
	    -webkit-text-stroke: 0.1rem rgb(0, 26, 255);
	    top: -0.3rem;
	    left: -0.3rem;
	}
	
	#project > #resume_photo1{
		width: 300px;
		position: absolute;
		top: 25vh;
		right: 300px;
		border: 10px solid #00FF94;
	}
	#project > #resume_photo2{
		width: 300px;
		position: absolute;
		top: 35vh;
		right: 150px;
		border: 10px solid #00FF94;
		transform: rotate(5deg);
	}
}
