@CHARSET "UTF-8";

@media(min-width:1001px) {
    /* sun ↓ */
	/*#sun:hover ~ #intro>#intro2,#sun:hover ~ #intro>#intro4 {
	    color: yellow !important;
        text-shadow: 0 0 3px #fff, 0 0 5px #fff;
	}

	#sun:hover ~ #intro>#intro1,#sun:hover ~ #intro>#intro3{
	    opacity:0;
	}*/

	/*#face{
	    width: 101px;
        height: 101px;
        padding: 0px;
        border-radius: 50px;
        position: fixed;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        z-index:100;
        opacity:0;
	}
	#face:hover{
	    animation: intro1 1s ease-out forwards;
	}


    @keyframes intro1{
        from{
            opacity:0;
        }
        to{
            opacity: 1;
        }
    }*/

	/* sun ↑ */


	#intro1{
		color:white;
		font-size: 2rem;
		font-weight:bold;
		font-family: sans-serif;
		position: absolute;
		left: 200px;
		/* opacity:1; */
		animation: intro1 1s ease-out forwards;
	}
	#intro2{
		color:white;
		font-size: 2rem;
		font-weight:bold;
		font-family: sans-serif;
		position: absolute;
		left: 200px;
		opacity:1;
		animation: intro2 1.5s ease-out forwards;
	}
	#intro3{
		color:white;
		font-size: 2rem;
		font-weight:bold;
		font-family: sans-serif;
		position: absolute;
		left: 200px;
		opacity:1;
		animation: intro3 1.5s ease-out forwards;
	}
	#intro4{
		color:white;
		font-size: 2rem;
		font-weight:bold;
		font-family: sans-serif;
		position: absolute;
		left: 200px;
		opacity:1;
		animation: intro4 1.5s ease-out forwards;
	}
	
	@keyframes intro1{
		from{
			opacity:0;
			bottom:10rem;
		}
		to{
			opacity: 1;
			bottom:15rem;
		}
	}
	
	@keyframes intro2{
		0%{
			opacity:0;
		}
		99%{
			opacity:1;
			bottom:12.5rem;
		}
		100%{
			opacity:1;
			bottom:12.5rem;
		}
	}
		
	
	@keyframes intro3{
		0%{
			opacity:0;
			bottom:7.5rem;
		}
		65%{
			opacity: 1;
			bottom:12.5rem;
		}
		100%{
			opacity: 1;
			bottom:10rem;
		}
	}
	@keyframes intro4{
		0%{
			opacity:0;
			bottom:5rem;
		}
		65%{
			opacity: 1;
			bottom:10rem;
		}
		100%{
			opacity: 1;
			bottom:7.5rem;
		}
	}
	
	@keyframes opa_on{
		from{
			opacity: 0;
		}
		to{
			opacity: 1;
		}
	}
	

	
	@keyframes up{
		to{
			top:-100vh;
		}
	}
	
	@keyframes intro1_down{
		from{
			top:-100vh;
		}
		to{
			top:60vh;
		}
	}
	
	@keyframes intro2_down{
		from{
			top:-100vh;
		}
		to{
			top:65vh;
		}
	}
	
	@keyframes intro3_down{
		from{
			top:-100vh;
		}
		to{
			top:70vh;
		}
	}
	
	@keyframes intro4_down{
		from{
			top:-100vh;
		}
		to{
			top:75vh;
		}
	}


	
	@keyframes slide{
		from{
			left:-100px;
			/* opacity: 0; */
		}
		to{
			left:10vh;
			/* opacity: 1px; */
		}
	}
	@keyframes disappear{
		from{
			left:200px;
			opacity: 1;
			
		}
		to{
			left:-100px;
			opacity: 0;
		}
	}

    #scroll{
        color:white;
        font-size: 1rem;
        font-weight:bold;
        font-family: sans-serif;
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
        bottom:20px;
    }
    .scroll_text{
        animation: wave 1s ease-in-out infinite;
        animation-delay: 0s, 0.2s, 0.4s;
    }
    .scroll_text:nth-child(2) {
       animation-delay: 0.1s, 0.3s, 0.5s;
    }
    .scroll_text:nth-child(3) {
      animation-delay: 0.2s, 0.4s, 0.6s;
    }
    @keyframes wave {
      0% {
        transform: translateY(0);
        opacity: 0.5;
      }
      50% {
        transform: translateY(15px);
        opacity: 1;
      }
      100% {
        transform: translateY(0);
        opacity: 0.5;
      }
    }


	/* body{
		background-color: black;
	} */



    #night{
        height: 900vh;
        background: #222831;
    }

	#introduce{
    	position:absolute;
    	top:250vh;
    	left:50%;
    	transform:translate(-50%);
    	width: 999px;
    	height:570px;
    	border-radius:30px;
    	border: 3px solid skyblue;
    	background-color: #222831;
    	/*background: linear-gradient(45deg,#F5F5F5, #F5F5F5);*/
    }
    #introduce1_title{
    	top: 50px;
    	left: 12%;
    	width: 76%;
    	/*color: #00FF94;*/
    	color: #20BF55;
    	position: absolute;
    	font-size: 50px;
    	font-weight:900;
    	/*opacity:0;*/
    	 /* background-image: linear-gradient(to bottom, #20BF55, #01BAEF);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;*/
    }
    .introduce_inner_hr{
        top: 130px;
        left: 12%;
        width: 76%;
        height:5px;
        position: absolute;
        background: linear-gradient(to right, #20BF55, #F5F5F5);
    }
    .introduce_inner{
    	top:200px;
    	left: 12%;
    	right: 12%;
    	width: 76%;
    	color: white;
    	position: absolute;
    	font-size: 19px;
    	font-weight:600;
    	letter-spacing:2px;
    	line-height:30px;
    	opacity:0;
    }
    .introduce_inner_bold{
       background-image: linear-gradient(to right, #20BF55, #01BAEF);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight:600;
    }

    #introduce2{
    	position:absolute;
    	top:390vh;
    	left:50%;
    	transform:translate(-50%);
    	width: 999px;
    	height:100%;
    }
     .introduce2_inner_title{
        /*top: 50px;*/
        color: #20BF55;
        position: absolute;
        font-size: 50px;
        font-weight:900;
    }

    .introduce2_inner{
        top:150px;
        width: 100%;
        color: #000;
        position: absolute;
        font-size: 20px;
        font-weight:600;
        letter-spacing:2px;
        line-height:30px;
    }

    .introduce2_inner_inner{
        padding-top:30px;
    }
    #introduce2_inner_inner1{
        display: inline-block;
        float:left;
        width:45%;
        height: 150px;
        border: 3px solid skyblue;
        border-radius:25px;
        background-color:#222831;
        color:white;
    }


    .introduce2_inner_inner_title{
        position: absolute;
        display:inline-block;
        color:skyblue;
        font-size:30px;
        margin-top:-50px;
        margin-left:36px;
        border: 3px solid #222831;
        background-color:#222831;
    }


    .introduce2_inner_inner_inner{
        margin-left:40px;
        width:40%;
        display: inline-block;
    }

    .introduce2_inner_inner_inner_left{
        margin-left:40px;
        width:40%;
        display: inline-block;
    }

     .introduce2_inner_inner_inner_right{
         margin-left:0px;
         width:40%;
         display: inline-block;
     }

     #introduce2_inner_inner2{
        display: inline-block;
        width:45%;
        height: 110px;
        float:right;
        border: 3px solid skyblue;
        border-radius:25px;
        background-color:#222831;
        color:white;
    }

    #introduce2_inner_inner3{
        display: inline-block;
        float:left;
        width:45%;
        height: 110px;
        border: 3px solid skyblue;
        border-radius:25px;
        background-color:#222831;
        color:white;
    }

   #introduce2_inner_inner4{
        display: inline-block;
        width:45%;
        height: 110px;
        float:right;
        border: 3px solid skyblue;
        border-radius:25px;
        background-color:#222831;
        color:white;
    }

    .introduce2_height_blanc{
        clear:both;
        height:10vh;
    }

   #introduce3{
        position:absolute;
        top:540vh;
        left:50%;
        transform:translate(-50%);
        width: 999px;
        height:100%;
   }

    .introduce3_inner_title{
        color: #20BF55;
        position: absolute;
        font-size: 50px;
        font-weight:900;
    }

    .introduce3_inner{
        position:absolute;
        top:100px;
        width:100%;
    }

    .introduce3_inner_inner_left{
        background-color:#222831;
        margin-top:70px;
        margin-left:20px;
        height:100px;
        width: 60%;
        padding:10px;
        padding-top:0px;
        border-radius:25px;
        border:3px solid skyblue;
        color:white;
    }

    .introduce3_inner_inner_title_left{
        position: absolute;
        display: inline-block;
        color: #222831;
        font-size: 17px;
        font-weight:bold;
        margin-top: -40px;
        padding: 10px 17px;
        /*border: 3px solid #222831;*/
        border-radius:40px;
        background-color: skyblue;
        /*transform: rotate(-10deg);*/
    }

    .introduce3_inner_inner_title_left > p{
        margin:0px;
        font-size:12px;
    }

    .introduce3_inner_inner_title_right{
         position: absolute;
         display: inline-block;
         color: #222831;
         font-size: 17px;
         font-weight:bold;
         margin-top: 40px;
         right: -20px;
         padding: 10px 17px;
         /*border: 3px solid #222831;*/
         border-radius:40px;
         background-color: skyblue;
         /*transform: rotate(10deg);*/
     }

    .introduce3_inner_inner_title_right > p{
        margin:0px;
        font-size:12px;
        text-align:right;
    }

    .introduce3_inner_inner_left_company{
        float:right;
        margin-top: 10px;
    }
    .introduce3_inner_inner_right_company{
        margin-top:10px;
    }

    .introduce3_inner_inner_right{
        float:right;
        background-color:#222831;
        margin-top:70px;
        margin-left:20px;
        height:100px;
        width: 60%;
        padding:10px;
        padding-top:0px;
        border-radius:25px;
        border:3px solid skyblue;
        color:white;
    }
    .clear{
        clear:both;
    }
    #introduce3_inner_inner1{
        height:620px;
    }
    .introduce3_inner_inner_ul{
        margin:0px;
        padding-left:20px;
    }
    .introduce3_inner_inner_ul > ul{
        padding-left:20px;
    }
    #introduce3_inner_inner2{
        height:430px;
    }
    #introduce3_inner_inner3{
        height:450px;
    }
	/*.detail_button{
    	border: 1px solid #00FF94;
    	color:white;
    	top: 400px;
    	color: #00FF94;
    	left: 10vh;
    	font-size: 1em;
    	border-radius:0.5em;
    	padding: 5px 15px;
    	position: absolute;
    	transition: background, 0.2s;
    }
    .detail_button:hover{
    	border: 1px solid yellow;
    	color: yellow;
    	text-shadow: 0 0 3px #fff, 0 0 5px #fff;
    	box-shadow:0 0 3px #fff, 0 0 5px #fff;
    }*/
	@keyframes resume{
		from{
			left:0em;
			opacity: 0;
		}
		to{
			top:70em;
			opacity: 1;
		}
	}
	
	#night{
		/* animation: goBlack 1.5s ease-out; */ 
	}
	
	
	#resume_photo1{
		width: 300px;
		position: absolute;
		top: 25vh;
		right: 300px;
		border: 10px solid #00ADB5;
	}
	#resume_photo2{
		width: 300px;
		position: absolute;
		top: 35vh;
		right: 150px;
		border: 10px solid #00ADB5;
		transform: rotate(5deg);
	}

	
	@keyframes resume_photo{
		from{
			right:-300px;
			/* opacity: 0; */
		}
		to{
			right:200px;
			/* opacity: 1px; */
		}
	}
	
	#project > #resume_text1{
		top:5vh;
		left: 10vh;
		color: #00FF94;
		position: absolute;
		font-size: 5em;
		font-weight:900;
	}
	#project > #resume_text1::after {
	    font-family: Montserrat, sans-serif;
	    content: "Projects";
	    position: absolute;
	    color: transparent;
	    -webkit-text-stroke: 0.1rem rgb(0, 26, 255);
	    top: -0.3rem;
	    left: -0.3rem;
	}
	
	#project > #resume_photo1{
		width: 300px;
		position: absolute;
		top: 25vh;
		right: 300px;
		border: 10px solid #00FF94;
	}
	#project > #resume_photo2{
		width: 300px;
		position: absolute;
		top: 35vh;
		right: 150px;
		border: 10px solid #00FF94;
		transform: rotate(5deg);
	}

	#introduce4{
            position:absolute;
            top:800vh;
            left:50%;
            transform:translate(-50%);
            width: 999px;
            height:100%;
   }
   .introduce4_inner_title{
       color: #20BF55;
       position: absolute;
       font-size: 50px;
       font-weight:900;
   }

   .introduce4_inner{
       position:absolute;
       top:100px;
       width:100%;
   }
    #introduce4_inner_inner5{
       display: inline-block;
       float:left;
       width:100%;
       height: 100px;
       margin-bottom:20px;
       padding-left:20px;
       border: 3px solid skyblue;
       border-radius:25px;
       background-color:#222831;
       color:white;
       font-size:20px;
   }
    #introduce4_inner_inner4{
       display: inline-block;
       float:left;
       width:100%;
       height: 120px;
       margin-bottom:20px;
       padding-left:20px;
       border: 3px solid skyblue;
       border-radius:25px;
       background-color:#222831;
       color:white;
       font-size:20px;
   }
    #introduce4_inner_inner3{
        display: inline-block;
        float:left;
        width:100%;
        height: 120px;
        margin-bottom:20px;
        padding-left:20px;
        border: 3px solid skyblue;
        border-radius:25px;
        background-color:#222831;
        color:white;
        font-size:20px;
    }
    #introduce4_inner_inner2{
        display: inline-block;
        float:left;
        width:100%;
        height: 120px;
        margin-bottom:20px;
        padding-left:20px;
        border: 3px solid skyblue;
        border-radius:25px;
        background-color:#222831;
        color:white;
        font-size:20px;
    }
    #introduce4_inner_inner1{
        display: inline-block;
        float:left;
        width:100%;
        height: 120px;
        margin-bottom:20px;
        padding-left:20px;
        border: 3px solid skyblue;
        border-radius:25px;
        background-color:#222831;
        color:white;
        font-size:20px;
    }

    .introduce4_inner_inner_date{
        display:inline-block;
        width:220px;
    }
    .introduce4_inner_inner_title{
        display:inline-block;
        font-weight:bold;
    }
    .introduce4_inner_inner_inner{
        margin-left:220px;
        font-style:italic;
    }
}
