@CHARSET "UTF-8";

@media(min-width:1001px) {
    /* 해 ↓ */
	#sun:hover ~ #intro>#intro2,#sun:hover ~ #intro>#intro4 {
	    color: yellow !important;
        text-shadow: 0 0 3px #fff, 0 0 5px #fff;

	}

	#sun:hover ~ #intro>#intro1,#sun:hover ~ #intro>#intro3{
	    opacity:0;
	}
	#face{
	    width: 101px;
        height: 101px;
        padding: 0px;
        border-radius: 50px;
        position: fixed;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        z-index:100;
        opacity:0;
	}
	#face:hover{
	    animation: intro1 1s ease-out forwards;
	}


    	}

    	@keyframes intro1{
    		from{
    			opacity:0;
    		}
    		to{
    			opacity: 1;
    		}
    	}

	/* 해 ↑ */


	#intro1{
		color:white;
		font-size: 2rem;
		font-weight:bold;
		font-family: sans-serif;
		position: absolute;
		left: 200px;
		/* opacity:1; */
		animation: intro1 1s ease-out forwards;
	}
	#intro2{
		color:white;
		font-size: 2rem;
		font-weight:bold;
		font-family: sans-serif;
		position: absolute;
		left: 200px;
		opacity:1;
		animation: intro2 1.5s ease-out forwards;
	}
	#intro3{
		color:white;
		font-size: 2rem;
		font-weight:bold;
		font-family: sans-serif;
		position: absolute;
		left: 200px;
		opacity:1;
		animation: intro3 1.5s ease-out forwards;
	}
	#intro4{
		color:white;
		font-size: 2rem;
		font-weight:bold;
		font-family: sans-serif;
		position: absolute;
		left: 200px;
		opacity:1;
		animation: intro4 1.5s ease-out forwards;
	}
	
	@keyframes intro1{
		from{
			opacity:0;
			bottom:10rem;
		}
		to{
			opacity: 1;
			bottom:15rem;
		}
	}
	
	@keyframes intro2{
		0%{
			opacity:0;
		}
		99%{
			opacity:1;
			bottom:12.5rem;
		}
		100%{
			opacity:1;
			bottom:12.5rem;
		}
	}
		
	
	@keyframes intro3{
		0%{
			opacity:0;
			bottom:7.5rem;
		}
		65%{
			opacity: 1;
			bottom:12.5rem;
		}
		100%{
			opacity: 1;
			bottom:10rem;
		}
	}
	@keyframes intro4{
		0%{
			opacity:0;
			bottom:5rem;
		}
		65%{
			opacity: 1;
			bottom:10rem;
		}
		100%{
			opacity: 1;
			bottom:7.5rem;
		}
	}
	
	@keyframes opa_on{
		from{
			opacity: 0;
		}
		to{
			opacity: 1;
		}
	}
	

	
	@keyframes up{
		to{
			top:-100vh;
		}
	}
	
	@keyframes intro1_down{
		from{
			top:-100vh;
		}
		to{
			top:60vh;
		}
	}
	
	@keyframes intro2_down{
		from{
			top:-100vh;
		}
		to{
			top:65vh;
		}
	}
	
	@keyframes intro3_down{
		from{
			top:-100vh;
		}
		to{
			top:70vh;
		}
	}
	
	@keyframes intro4_down{
		from{
			top:-100vh;
		}
		to{
			top:75vh;
		}
	}
	
	@keyframes slide{
		from{
			left:-100px;
			/* opacity: 0; */
		}
		to{
			left:10vh;
			/* opacity: 1px; */
		}
	}
	@keyframes disappear{
		from{
			left:200px;
			opacity: 1;
			
		}
		to{
			left:-100px;
			opacity: 0;
		}
	}
	
	/* body{
		background-color: black;
	} */

    #night{
        height: 490vh;
        background: #222831;
    }

	#introduce{
    	position:absolute;
    	top:250vh;
    	left:50%;
    	transform:translate(-50%);
    	width: 999px;
    	height:570px;
    	border-radius:30px;
    	/*background-color: black;*/
    	background: linear-gradient(45deg,#F5F5F5, #F5F5F5);
    }
    .introduce_inner_title{
    	top: 50px;
    	left: 12%;
    	width: 76%;
    	/*color: #00FF94;*/
    	color: #20BF55;
    	position: absolute;
    	font-size: 50px;
    	font-weight:900;
    	opacity:0;
    	 /* background-image: linear-gradient(to bottom, #20BF55, #01BAEF);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;*/
    }
    .introduce_inner_hr{
        top: 130px;
        left: 12%;
        width: 76%;
        height:5px;
        position: absolute;
        background: linear-gradient(to right, #20BF55, #F5F5F5);
    }
    .introduce_inner{
    	top:200px;
    	left: 12%;
    	right: 12%;
    	width: 76%;
    	color: #000;
    	position: absolute;
    	font-size: 20px;
    	font-weight:600;
    	letter-spacing:2px;
    	line-height:30px;
    	opacity:0;
    }
    .introduce_inner_bold{
       background-image: linear-gradient(to right, #20BF55, #01BAEF);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight:600;
    }

    #introduce2{
    	position:absolute;
    	top:390vh;
    	left:50%;
    	transform:translate(-50%);
    	width: 100%;
    	height:100%;
    }
     .introduce2_inner_title{
        top: 50px;
        left: 12%;
        width: 76%;
        /*color: #00FF94;*/
        color: #20BF55;
        position: absolute;
        font-size: 50px;
        font-weight:900;
         /* background-image: linear-gradient(to bottom, #20BF55, #01BAEF);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;*/
    }
    .introduce2_inner{
        top:200px;
        left: 12%;
        right: 12%;
        width: 76%;
        color: #000;
        position: absolute;
        font-size: 20px;
        font-weight:600;
        letter-spacing:2px;
        line-height:30px;
        /*text-align:center;*/
    }

    #introduce2_inner_inner1{
        width:50%;
        height: 150px;
        border: 3px solid skyblue;
        border-radius:25px;

    }

	.detail_button{
    	border: 1px solid #00FF94;
    	color:white;
    	top: 400px;
    	color: #00FF94;
    	left: 10vh;
    	font-size: 1em;
    	border-radius:0.5em;
    	padding: 5px 15px;
    	position: absolute;
    	transition: background, 0.2s;
    }
    .detail_button:hover{
    	border: 1px solid yellow;
    	color: yellow;
    	text-shadow: 0 0 3px #fff, 0 0 5px #fff;
    	box-shadow:0 0 3px #fff, 0 0 5px #fff;
    }
	@keyframes resume{
		from{
			left:0em;
			opacity: 0;
		}
		to{
			top:70em;
			opacity: 1;
		}
	}
	
	#night{
		/* animation: goBlack 1.5s ease-out; */ 
	}
	
	
	#resume_photo1{
		width: 300px;
		position: absolute;
		top: 25vh;
		right: 300px;
		border: 10px solid #00ADB5;
	}
	#resume_photo2{
		width: 300px;
		position: absolute;
		top: 35vh;
		right: 150px;
		border: 10px solid #00ADB5;
		transform: rotate(5deg);
	}

	
	@keyframes resume_photo{
		from{
			right:-300px;
			/* opacity: 0; */
		}
		to{
			right:200px;
			/* opacity: 1px; */
		}
	}
	
	#project > #resume_text1{
		top:5vh;
		left: 10vh;
		color: #00FF94;
		position: absolute;
		font-size: 5em;
		font-weight:900;
	}
	#project > #resume_text1::after {
	    font-family: Montserrat, sans-serif;
	    content: "Projects";
	    position: absolute;
	    color: transparent;
	    -webkit-text-stroke: 0.1rem rgb(0, 26, 255);
	    top: -0.3rem;
	    left: -0.3rem;
	}
	
	#project > #resume_photo1{
		width: 300px;
		position: absolute;
		top: 25vh;
		right: 300px;
		border: 10px solid #00FF94;
	}
	#project > #resume_photo2{
		width: 300px;
		position: absolute;
		top: 35vh;
		right: 150px;
		border: 10px solid #00FF94;
		transform: rotate(5deg);
	}
}
