@CHARSET "UTF-8";

@media(max-width:1000px) {
	#intro1{
		color: white;
		font-size: 5em;
		font-family: sans-serif;
		position: absolute;
		top: 70%;
		left: 10%;
		transform: translate( -10%);
		animation: intro1 1s ease-out forwards;
	}
	#intro2{
		color: white;
		font-size: 5em;
		font-family: sans-serif;
		position: absolute;
		top: 75%;
		left: 10%;
		transform: translate(-10%);
		animation: intro2 1s ease-out forwards;
	}
	#intro3{
		color: white;
		font-size: 5em;
		font-family: sans-serif;
		position: absolute;
		top: 80%;
		left: 10%;
		transform: translate(-10%);
		animation: intro3 1s ease-out forwards;
	}
	#intro4{
		color: white;
		font-size: 5em;
		font-family: sans-serif;
		position: absolute;
		top: 85%;
		left: 10%;
		transform: translate(-10%);
		animation: intro4 1s ease-out forwards;
	}
	@keyframes slide{
		from{
			left:-200px;
			opacity: 0;
		}
		to{
			left:50px;
			opacity: 1px;
		}
	}
	@keyframes disappear{
		from{
			left:50px;
			opacity: 1px;
			
		}
		to{
			left:-200px;
			opacity: 0;
		}
	}
	
	@keyframes intro1{
		from{
			top:70vh;
			opacity:0;
		}
		to{
			top:60vh;
			opacity: 1;
		}
	}
	
	@keyframes intro2{
		0%{
			opacity:0;
		}
		99%{
			opacity:1;
		}
		100%{
			opacity:1;
		}
	}
		
	
	@keyframes intro3{
		0%{
			opacity:0;
			top:75vh;
		}
		65%{
			opacity: 1;
			top:65vh;
		}
		100%{
			opacity: 1;
			top:70vh;
		}
	}
	@keyframes intro4{
		0%{
			opacity:0;
			top:80vh;
		}
		65%{
			opacity: 1;
			top:70vh;
		}
		100%{
			opacity: 1;
			top:75vh;
		}
	}
}