@CHARSET "UTF-8";
* {margin: 0; padding: 0; /* 여백초기화 */
  box-sizing: border-box; /* 요소
  크기계산시 padding과 border값 포함 */ }
  
 #wrap {/*border: 1px solid pink;*/
width: 100%; height:100%;
margin: 0 auto; /* 수평 중앙정렬 */}

header {
 height: 40px;
 }
 
#top-nav {
position:fixed;
background: #000000;
opacity:80%;
 width: 100%;  height: 40px;
 margin: 0 auto;
 
} 
nav ul {list-style: none;/* 목록모양 제거 */
width: 300px;
margin: 0 auto;}

#top-nav li { float: left;
margin-top: 7px;

font-size: 17px;

}

.nav-my {
	margin-right: 40px;
}
 
.nav-proj{
	margin-left: 40px;
}
 
.color-white{
	color: #CDCDCD;
	text-decoration: none;
}

.color-white:HOVER {
	color: white;
}

body{
display:block;
overflow:hidden;}
@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body,html{
	margin: 0;
    padding: 0;
    height: 100%;}
.bgimg {
    border: 0;
    padding: 0; 
    background-image: url('../css/img/main_back.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

.main_text{
	font-family: TmonMonsori;
	color: black;
	padding: 5px 10px;
	text-align: left;
	position: absolute;
	top: 60%;
	left: 10%;
	font-size: 70px;
	letter-spacing: 4px;
}
