@CHARSET "UTF-8";
@media(max-width:1000px) {
* {margin: 0; padding: 0; 
  box-sizing: border-box;  }
  
  header{
  width: 100%;
 height: 7.5vw;
/*  border: 5px yellow solid; */
 }
 
#top-nav {
position:fixed;
background: #000000;
opacity:80%;
 width: 100%;  height: 7.5vw;
 display: block;
  margin:0;
padding:0;
}
nav .top-ul {list-style: none;
/* border: 3px yellow solid; */
width: 80vw;
height: 7.5vw;
text-align: center;
padding: 0!important;
margin: 0 auto;}

#top-nav li { 
/* border:1px green solid; */
float: left;
font-size: 5vw;
width: 20vw;
margin-top: 1vw;
}
.nav-main{
	width: 20vw;
	text-align: center;
	margin-right: 5vw;
}
.nav-my{
	width: 20vw;
	text-align: center;
	margin-left: 5vw;
	margin-right: 5vw;
}
 
.nav-proj{
	width: 20vw;
	text-align: center;
	margin-left: 5vw;
}
 
.color-white{
	color: #CDCDCD;
	text-decoration: none;
}

.color-white:HOVER {
	color: white;
	text-decoration: none;
}
  
 #wrap {/*border: 1px solid pink;*/
width: 100%; height:100%;
}

body{
display:block;
overflow:hidden;}
@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body,html{
	margin: 0;
    padding: 0;
    height: 100%;}
.bgimg {
    border: 0;
    padding: 0; 
    background-image: url('img/main/main_back.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}
.main_text{
	display: none;
}
.small_text{
	font-family: TmonMonsori;
	color: white;
	text-shadow:5px 1px 15px #000000;
	padding: 5px 10px;
	text-align: left;
	position: absolute;
	top: 60%;
	left: 10%;
	font-size: 70px;
	letter-spacing: 4px;
}

.small_text>.name{
	color: black;
	text-shadow: none;
}
}
