@CHARSET "UTF-8";
*{
	box-sizing: border-box;
}
@media(min-width:1101px) {

article{
/* 	border: 1px black solid; */
	width:1000px;
	margin: 0 auto;
	margin-top: -50px;
}
section{
width:960px;
margin: 0 auto;
}

.sec03-BPM{
/* 	border: 1px black solid; */
	margin-top: 50px;
	height: 24200px;
}
.sec02-cal{
/* 	border: 1px black solid; */
	margin-top: 50px;
	height: 6800px;
}

.sec01-TtB{
/* 	border: 3px black solid; */
	margin-top: 50px;
	height: 9150px;
}
.name{
/* 	border: 1px black solid; */
	font-size: 30px;
	height: 70px;
	margin-bottom: 100px;
}
.namesmall{
	font-size: 20px;
}
.contents{
	width: 960px;
	margin-top: 50px;
}
img{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
video{
/*  border: 1px black solid; */
 margin-top: 30px;
 margin-bottom: 50px;
 width: 960px;
 height: 550px;}
 
.type{
/* 	border: 1px black solid; */
	margin-left: 10px;
	font-size:25px;
	color: #575757;
}

.name{
/* 	border: 1px black solid; */
	font-size: 35px;
	color: #6D6CFF;
}
.calppt{
	border: 1px black silid;
	margin-top: 30px;
	height: 6000px;
}
.busanppt{
/* 	border: 1px black solid; */
	margin-top: 30px;
	height: 8200px;
}
/*space*/
 #space-sec0304{
/* 	border: 1px black solid; */
	width: 1000px;
	height: 50px;
	margin: 0 auto;
}
 #space-sec0203{
/* 	border: 1px black solid; */
	width: 1000px;
	height: 50px;
	margin: 0 auto;
}
 #space-sec0102{
/* 	border: 1px black solid; */
	width: 1000px;
	height: 50px;
	margin: 0 auto;
}
 /*space*/
}

@media(max-width:1100px) {

article{
/* 	border: 1px black solid; */
	width: 95%;
	margin: 0 auto;
}
section{
/* 	border: 1px black solid; */
	width: 100%;
	margin: 0 auto;
}
contents{
	width: 100%;
	margin: 0 auto;
}
img{
	width: 100%;
	margin: 0 auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
video{
 	width: 100%;
 	margin: 0 auto;
 }
 
/*space*/
 #space-sec0304{
	width: 100%;
	margin: 0 auto;
}
 #space-sec0203{
	width: 100%;
	margin: 0 auto;
}
 #space-sec0102{
	width: 100%;
	margin: 0 auto;
}
 /*space*/
	
}

 