@CHARSET "UTF-8";

@media(max-width:1000px) {
*{
	
	box-sizing: border-box;
}

header{
 width:100%;
 height: 15vw;
/*  border: 3px blue solid; */
 }
 
#top-nav {
position:fixed;
background: #000000;
opacity:80%;
 width: 100%;  height: 7.5vw;
 display: block;
 margin:0;
padding:0;
}
#sec-nav {
position:fixed;
background: #484848;
opacity:80%;
 width: 100%;  
 height: 7.5vw;
 margin-top:7.5vw;
 
} 
nav .top-ul {list-style: none;
/* border: 1px yellow solid; */
width: 80vw;
height: 7.5vw;
text-align: center;
padding: 0!important;
margin: 0 auto;
}
nav .sec-ul {list-style: none;
/* border: 1px yellow solid; */
width: 64vw; /*sec-nav-BPM+cal+travel의 width와  margin 더한것*/
height: 7.5vw;
text-align: center;
padding: 0!important;
margin: 0 auto;
}

#top-nav li { 
/* border:1px green solid; */
float: left;
font-size: 4.9vw;
width: 20vw;
margin-top: 1vw;
}
#sec-nav li { 
/* 	border:1px green solid; */
	float: left;
font-size: 3.5vw;
margin-top: 1vw;
}
.nav-main{
	width: 20vw;
	text-align: center;
	margin-right: 5vw;
}
.nav-my{
	width: 20vw;
	text-align: center;
	margin-left: 5vw;
	margin-right: 5vw;
}
 
.nav-proj {
	width: 20vw;
	text-align: center;
	margin-left: 5vw;
}
.sec-nav-BPM{
	width: 16vw;
	text-align: center;
	margin-right: 4vw;
		line-height: 90%;
	margin-top: 4px!important;
}
.sec-nav-cal{
	width: 16vw;
	text-align: center;
	margin-left: 4vw;
	margin-right: 4vw;
}
.sec-nav-travel {
	width: 16vw;
	text-align: center;
	margin-left: 4vw;
		line-height: 90%;
	margin-top: 4px!important;
}

 
.color-white{
	color: #CDCDCD;
	text-decoration: none;
}

.color-white:HOVER {
	color: white;
	text-decoration: none;
}
/*@@@@@@@@@@@@@@@ 헤더 완료 @@@@@@@@@@@@@@*/
body{
	width: 100%;
	height: auto;
	margin: 0px;
}
article{
/* 	border: 1px black solid; */
	width:95%;
	margin: 0 auto;
	margin-top: -50px;
}
section{
width:100%;
margin: 0 auto;
}

.sec03-BPM{
/* 	border: 1px black solid; */
	margin-top: 50px;
	height: atuo;
}
.sec02-cal{
/* 	border: 1px black solid; */
	margin-top: 50px;
	height: auto;
}

.sec01-TtB{
/* 	border: 3px black solid; */
	margin-top: 50px;
	height: auto;
}
.name{
/* 	border: 1px black solid; */
	font-size: 30px;
	height: 70px;
	margin-bottom: 100px;
}
.namesmall{
	font-size: 20px;
}
.contents{
	width: 100%
	margin-top: 50px;
}
img{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 width: 100%;
 }
video{
/*  border: 1px black solid; */
 margin-top: 30px;
 margin-bottom: 50px;
 width: 100%;
 height: auto;}
 
.type{
/* 	border: 1px black solid; */
	margin-left: 10px;
	font-size:25px;
	color: #575757;
}

.name{
/* 	border: 1px black solid; */
	font-size: 35px;
	color: #6D6CFF;
}
.calppt{
	border: 1px black silid;
	margin-top: 30px;
	height: auto;
}
.busanppt{
/* 	border: 1px black solid; */
	margin-top: 50px;
	height: auto;
}
/*space*/
 #space-sec0304{
/* 	border: 1px black solid; */
	width: 100%;
	height: 10vw;
	margin: 0 auto;
}
 #space-sec0203{
/* 	border: 1px black solid; */
	width: 100%;
	height: 10vw;
	margin: 0 auto;
}
 #space-sec0102{
/* 	border: 1px black solid; */
	width: 100%;
	height: 10vw;
	margin: 0 auto;
}
 /*space*/
}


 