@CHARSET "UTF-8";
*{
	box-sizing: border-box;
}
article{
	width:1000px;
	margin: 0 auto;
	margin-top: -50px;
}
section{
width:960px;
margin: 0 auto;
}

.sec02-BPM{
/* 	border: 1px black solid; */
	margin-top: 50px;
	height: 24100px;
}
.sec01-TtB{
/* 	border: 1px blacCk solid; */
	margin-top: 50px;
	height: 8250px;
}
.name{
/* 	border: 1px black solid; */
	font-size: 30px;
	height: 70px;
	margin-bottom: 30px;
}
.namesmall{
	font-size: 20px;
}
.img{
	width: 960px;
	margin-top: 30px;
}
img{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 
 /*space*/

 #space-sec0203{
/* 	border: 1px black solid; */
	width: 1000px;
	height: 50px;
	margin: 0 auto;
}
 #space-sec0102{
/* 	border: 1px black solid; */
	width: 1000px;
	height: 50px;
	margin: 0 auto;
}
 /*space*/