@CHARSET "UTF-8";
@media(min-width:1001px) {
*{
	box-sizing: border-box;
}
header{
 height: 80px;
/*  border: 1px black solid; */
 }
 
#top-nav {
position:fixed;
background: #000000;
opacity:80%;
 width: 100%;  height: 40px;
 display: block;
}
#sec-nav {
position:fixed;
background: #484848;
opacity:80%;
 width: 100%;  height: 40px;
 margin-top:40px;
} 
nav .top-ul {list-style: none;
/* border: 1px white solid; */
width: 405px;
margin: 0 auto;
padding: 0!important;}
nav .sec-ul {list-style: none;
/* border: 1px white solid; */
width: 565px; /*한 개 추가시 160씩 올리면 됨*/
margin: 0 auto;
padding: 0!important;}

#top-nav li { 
/* 	border: 1px yellow solid; */
	float: left;
margin-top: 7px;
font-size: 17px;
}
#sec-nav li { float: left;
margin-top: 7px;
font-size: 17px;
}
.nav-main,.sec-nav-into{
	width: 80px;
	text-align: center;
	margin-right: 40px;
}
.nav-my,.sec-nav-skill,.sec-nav-project {
	width: 80px;
	text-align: center;
	margin-left: 40px;
	margin-right: 40px;
}
 
.nav-proj,.sec-nav-edu {
	width: 80px;
	text-align: center;
	margin-left: 40px;
}
 
.color-white{
	color: #CDCDCD;
	text-decoration: none;
}

.color-white:HOVER {
	color: white;
	text-decoration: none;
}
/*@@@@@@@@@@@@@@@ 헤더 완료 @@@@@@@@@@@@@@*/


body{
/* 	border: 1px black solid; */
	height: auto;
	margin-bottom: 30px;
}
article{
/* 	border: 1px black solid; */
	width: 1005px;/*1000으로 바꾸자*/
	height: 2500px;
	margin: 0 auto;
	margin-top: 40px;
}
section{
	float: left;
}
#sec01-photo{
/* 	border: 1px black solid; */
	width: 250px;
	height: 300px;
	
}
#sec01-photo>img{
/* 	border: 1px black solid; */
	width: 250px;
	height: 300px;
	object-fit: cover;
}
#sec02-info{
/* 	border: 1px black solid; */
	margin-left: 35px;
	margin-top: 0px;
	height: 300px;
	width: 715px;
}
#sec02-info>.name{
/* 	border: 1px black solid; */
	font-size: 45px;
}

#sec02-info>.mail{
/* 	border: 1px black solid; */
	margin-top: 90px;
	height: 30px;	
}
#sec02-info>.mail>img{
/* 	border: 1px black solid; */
	float: left;
	width: 25px;
	margin-top: 4px;
	margin-left: 15px;
}
#sec02-info>.mail .mail-addr{
/* 	border: 1px black solid; */
	float: left;
	margin-left: 15px;
	font-size: 20px;
}

#sec02-info>.phone{
/* 	border: 1px black solid; */
	margin-top: 20px;
	height: 30px;
}
#sec02-info>.phone>img{
/* 	border: 1px black solid; */
	float: left;
	width: 20px;
	margin-top: 1px;
	margin-left: 15px;
	clear: both;
}
#sec02-info>.phone .phone-num{
/* 	border: 1px black solid; */
	float: left;
	margin-left: 20px;
	font-size: 20px;
}

#sec02-info>.git{
/* 	border: 1px black solid; */
	margin-top: 20px;
	height: 30px;
}
#sec02-info>.git>img{
/* 	border: 1px black solid; */
	float: left;
	width: 27px;
	margin-top: -1px;
	margin-left: 15px;
	clear: both;
}
#sec02-info>.git .git-addr{
/* 	border: 1px black solid; */
	float: left;
	margin-left: 15px;
	font-size: 20px;
}
.git-addr>a{
	color: #000000;
}
.git-addr>a:HOVER{
	text-decoration:none;
	color : #6D6CFF;
}
#sec02-info>.home{
/* 	border: 1px black solid; */
	margin-top: 20px;
	height: 30px;
}
#sec02-info>.home>img{
/* 	border: 1px black solid; */
	width: 25px;
	margin-top: 1px;
	margin-left: 15px;
}
#sec02-info>.home .home-addr{
/* 	border: 1px black solid; */
	margin-left: 14px;
	font-size: 20px;
}

#sec03-intro{
/* 	border: 1px black solid; */
	width: 250px;
	height: 408px;
	margin-top: 42px;
	padding: 0px;
	font-size: 35px;
	color: #6D6CFF;
}
.smallphoto{
	display: none;
}
#sec03-intro>img{
	margin-top: 30px;
	width: 200px;
}

#sec04-introduces{
/* 	border: 1px black solid; */
	margin-left: 35px;
	margin-top: 50px;
	height: 400px;
	width: 715px;
}
#sec04-introduces>.intro01{
	font-size: 20px;
}
#sec04-introduces>.intro02{
	font-size: 20px;
	margin-top: 15px;
}
#sec04-introduces>.intro03{
	font-size: 20px;
	margin-top: 15px;
}
#sec04-introduces>.intro04{
	font-size: 20px;
	margin-top: 15px;
}

#sec05-skill{
/* 	border: 1px black solid; */
	width: 100%;
	height: 50px;
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 35px;
	color: #6D6CFF;
}
#sec05-skill b{
	float: left;
	width: 100px;
	height: 30px;
}
#sec06-skillmenu{
/* 	border: 1px black solid; */
	width: 1000px;
	height: 500px;
}
#menu {
    width: 40px;
    height: 20px;
    float: left;
}
#menu div {
    position: relative;
    display: inline-block;
}

#menu span {
    display: block;
    cursor: pointer;
}
#menu span img{
	width: 27px;
}

#sec06-skillmenu>.menu01{
/* 	border: 1px black solid; */
	font-size: 25px;
	margin-left: 120px;
	width: 150px;
	height: 100px;
	float: left;
	color: #575757;
}
#sec06-skillmenu>.menu02{
/* 	border: 1px black solid; */
	font-size: 18px;
	margin-left: 40px;
	width: 180px;
	height: 100px;
	float: left;
}
#sec06-skillmenu>.menu02-1{
/* 	border: 1px black solid; */
	font-size: 18px;
	margin-left: 50px;
	width: 180px;
	height: 100px;
	float: left;
}
/*#sec06-skillmenu>.menu02-2{
	border: 1px black solid;
	font-size: 18px;
	margin-left: 50px;
	width: 180px;
	height: 100px;
	float: left;
}*/
hr{
	clear: both;
}
#sec06-skillmenu>.menu03{
/* 	border: 1px black solid; */
	font-size: 25px;
	margin-left: 120px;
	width: 150px;
	
	height: 100px;
	float: left;
	color: #575757;
}
#sec06-skillmenu>.menu04{
/* 	border: 1px black solid; */
	font-size: 18px;
	margin-left: 40px;
	width: 180px;
	height: 100px;
	float: left;
}
#sec06-skillmenu>.menu05{
/* 	border: 1px black solid; */
	font-size: 25px;
	margin-left: 120px;
	width: 150px;
	height: 100px;
	float: left;
	color: #575757;
}
#sec06-skillmenu>.menu06{
/* 	border: 1px black solid; */
	font-size: 18px;
	margin-left: 40px;
	width: 180px;
	height: 100px;
	float: left;
}
#sec06-skillmenu>.menu06-1{
/* 	border: 1px black solid; */
	font-size: 18px;
	margin-left: 50px;
	width: 180px;
	height: 100px;
	float: left;
}
#sec06-skillmenu>.menu07{
/* 	border: 1px black solid; */
	font-size: 25px;
	margin-left: 120px;
	width: 150px;
	height: 100px;
	float: left;
	color: #575757;
}
#sec06-skillmenu>.menu08{
/* 	border: 1px black solid; */
	font-size: 18px;
	margin-left: 40px;
	width: 180px;
	height: 100px;
	float: left;
}
.menu08>ul>.centos{
	font-size: 17px!important;
}
#sec06-skillmenu>.menu08-1{
/* 	border: 1px black solid; */
	font-size: 18px;
	margin-left: 50px;
	width: 180px;
	height: 100px;
	float: left;
}
.badge-light{
	background-color: #E7E7E7!important;
}
#sec06-skillmenu .badge{
	margin-right: 10px;
}


.arrow_box {
  display: none;
  position: absolute;
  width: 100px;
  padding: 8px;
  margin-top:10px;
  left: -40px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;  
  border-radius: 8px;
  background: #333;
  color: #fff;
  font-size: 14px;
}

.arrow_box:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

span:hover + p.arrow_box {
  display: block;
}
.ul-a{
	margin-left: 20px;
}
#sec07-project{
/* 		border: 1px black solid; */
	width: 1000px;
	height: 50px;
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 35px;
	color: #6D6CFF;	
}

#sec08-projectlist{
/* 	border: 1px black solid; */
	width: 1000px;
	height: 850px;
}
#sec08-projectlist>.list01{
/* 	border: 1px black solid; */
	font-size: 25px;
	margin-left: 30px;
	width: 220px;
	height: 200px;
	float: left;
	color: #575757;
}
#sec08-projectlist>.list02{
/* 	border: 1px black solid; */
	font-size: 18px;
	margin-left: 35px;
	margin-bottom: 10px;
	width: 710px;
	height: auto;
	float: left;
}
.list02-title{
	font-size: 25px;
}

.list02>ul{
	margin-top: 30px;
	margin-left: 50px;
}

#sec08-projectlist>.list03{
/* 	border: 1px black solid; */
	font-size: 25px;
	margin-left: 30px;
	width: 220px;
	height: 100px;
	float: left;
	color: #575757;
}
#sec08-projectlist>.list04{
/* 	border: 1px black solid; */
	font-size: 18px;
	margin-left: 35px;
	width: 710px;
	height: 200px;
	float: left;
}

.list04-title{
	font-size: 25px;
}
.list04>ul{
	margin-top: 30px;
	margin-left: 50px;
}


#sec08-projectlist>.list05{
/* 	border: 1px black solid; */
	font-size: 25px;
	margin-left: 30px;
	width: 220px;
	height: 100px;
	float: left;
	color: #575757;
}
#sec08-projectlist>.list06{
/* 	border: 1px black solid; */
	font-size: 18px;
	margin-left: 35px;
	width: 710px;
	height: 330px;
	float: left;
}

.list06-title{
	font-size: 25px;
}
.list06>ul{
	margin-top: 30px;
	margin-left: 50px;
}

#sec09-education{
/* 	border: 1px black solid; */
	width: 1000px;
	height: 50px;
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 35px;
	color: #6D6CFF;
}
#sec09-education b{
	float: left;
	width: 100px;
	height: 30px;
}


#sec10-edulist{
/* 	border: 1px black solid; */
	width: 1000px;
	height: 400px;
}
#sec10-edulist>.list01{
/* 	border: 1px black solid; */
	font-size: 25px;
	margin-left: 30px;
	width: 220px;
	height: 100px;
	float: left;
	color: #575757;
}
#sec10-edulist>.list02{
/* 	border: 1px black solid; */
	font-size: 18px;
	margin-left: 35px;
	width: 710px;
	height: 100px;
	float: left;
}
.list02-title{
	font-size: 25px;
	font-weight: bold;
}
.list02-content{
	font-size: 17px;
	font-style: italic;
	color: #575757;
}

#sec10-edulist>.list03{
/* 	border: 1px black solid; */
	font-size: 25px;
	margin-left: 30px;
	width: 220px;
	height: 100px;
	float: left;
	color: #575757;
}
#sec10-edulist>.list04{
/* 	border: 1px black solid; */
	font-size: 18px;
	margin-left: 35px;
	width: 710px;
	height: 100px;
	float: left;
}

.list04-title{
	font-size: 25px;
	font-weight: bold;
}
.list04-content{
	font-size: 17px;
	font-style: italic;
	color: #575757;
}

#sec10-edulist>.list05{
/* 	border: 1px black solid; */
	font-size: 25px;
	margin-left: 30px;
	width: 220px;
	height: 150px;
	float: left;
	color: #575757;
}
#sec10-edulist>.list06{
/* 	border: 1px black solid; */
	font-size: 18px;
	margin-left: 35px;
	width: 710px;
	height: 150px;
	float: left;
}

.list06-title{
	font-size: 25px;
	font-weight: bold;
}
.list06-content{
	font-size: 17px;
	font-style: italic;
	color: #575757;
}

.hr-final{
	background-color: black;
}

.cont{
/* 	border: 1px black solid; */
	height: auto;
	font-size: 30px;
	display: block;
	text-align: center;
	color: #6D6CFF;
}
.email{
/* 	border: 1px black solid; */
	height: auto;
	font-size: 20px;
	text-align: center;
}
.git{
/* 	border: 1px black solid; */
	height: auto;
	font-size: 20px;
	text-align: center;
	margin-bottom: 100px;
}
.img-mail{
/* 	border: 1px black solid; */
	width: 25px;
	margin-right: 5px;
}
.img-git{
/* 	border: 1px black solid; */
	width: 25px;
	margin-right: 5px;
}

/* space */
#space-sec0203{
/* 	border: 1px black solid; */
	width: 1000px;
	height: 50px;
	float: left;
	clear: both;
}
#space-sec0405{
/* 	border: 1px black solid; */
	width: 1000px;
	height: 50px;
	float: left;
	clear: both;
}
#space-sec0607{
/* 	border: 1px black solid; */
	width: 1000px;
	height: 50px;
	float: left;
	clear: both;
}
#space-sec0809{
/* 	border: 1px black solid; */
	width: 1000px;
	height: 50px;
	float: left;
	clear: both;
}
/* space */
}

