@CHARSET "UTF-8";
body {
  margin:0px;
  padding: 0px;
  transition: background-color .3s linear;
  background-color: black;
}

section {
	width: 99vw;
  height: 100vh;
}

a{
	color: gray;
	text-decoration: none;
}
a.hover{
	color: gray;
}

/* slide up */
 .slide-up-wrap {
  width:50%;
  /* align-items: center; */
  /* justify-content: center; */
  margin-top: 40px;
  float: left;
}
.slide-up-wrap > div {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.slide-up-wrap > div > img {
  width: 100%;
  height: auto;
  max-width: 80vw;
  max-height: 80vh;
  /* object-fit: cover; */
} 

#iphone{
animation-name: stampani;
animation-delay:2s;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	
}
@keyframes stampani {
	0% {transform: rotateZ(-5deg);}
	10% {transform: rotateZ(5deg);}
	20% {transform: rotateZ(-5deg);}
	30% {transform: rotateZ(5deg);}
	40% {transform: rotateZ(0deg);}
	100% {transform: rotateZ(0deg);}
	}