<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Jeong's portfolio</title>
<link href="css/main.css" rel="stylesheet">
<link href="css/top.css" rel="stylesheet">
</head>
<body>
<div id="wrap">
<header>
 <nav id="top-nav">
  <ul>
   <li class="nav-main"><a href="#" class="color-white">main</a>
   <li class="nav-my"><a href="./view/resume.html" class="color-white">introduce</a></li>
   <li class="nav-proj"><a href="#" class="color-white">projects</a></li>
  </ul>
 </nav>
</header>

	<div class="bgimg"></div>
	<div class="main_text">
	안녕하세요.<br>
	앱 & 웹 개발자 정성연입니다.
	</div>
</div>
</body>
</html>