<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Projects : SeongYeon Jeong</title>
	<link href="../css/projects.css" rel="stylesheet">
	<link href="../css/projects-small.css" rel="stylesheet">
	<link href="../css/img/main/icon.ico" rel="icon">
</head>
<body>
<header>
 <nav id="top-nav">
  <ul class="top-ul">
   <li class="nav-main"><a href="../main.html" class="color-white">Main</a></li>
   <li class="nav-my"><a href="../view/resume.html" class="color-white">Resume</a></li>
   <li class="nav-proj"><a href="../view/projects.html" class="color-white">Projects</a></li>
  </ul>
  </nav>
  <nav id="sec-nav">
  <ul class="sec-ul">
   <li class="sec-nav-BPM"><a href="#space-sec0304" class="color-white">Best Price Market</a></li>
   <li class="sec-nav-cal"><a href="#space-sec0203" class="color-white">계산기</a></li>
   <li class="sec-nav-travel"><a href="#space-sec0102" class="color-white">Travel to Busan</a></li>
  </ul>
  </nav>
</header>

<article>
	<div id="space-sec0304"></div>
	<section class="sec03-BPM">
		<div class="namesmall">2020.10~2020.11</div>
		<b class="name">웹 팀 프로젝트 - Best Price Market </b>
		<div class="contents">
			<script type="text/javascript">
				for(var i=0;i<41;i++){
					  document.write("<img src=../css/img/projects/BP/BP("+i+").png><br><br><br>"); 
				}
			</script>
		</div>
	</section>
	<hr>
	
	<div id="space-sec0203"></div>
	<section class="sec02-cal">
		<div class="namesmall">2020.10~2020.10</div>
		<b class="name">앱 개인 프로젝트 - 기본 계산기 </b>
		<div class="contents">
			<b class="type">👇 시연영상 (🔊소리가 있습니다!)</b>
			<video controls src="../css/img/projects/calculator/cal.mp4"></video>
			<b class="type">👇 PPT</b>
			<div class="calppt">
			<script type="text/javascript">
				for(var i=1;i<11;i++){
					  document.write("<img src=../css/img/projects/calculator/calculator("+i+").png><br><br><br>"); 
				}
			</script>
			</div>
		</div>
	</section>
	<hr>
	 
	<div id="space-sec0102"></div>
	<section class="sec01-TtB">
	<div class="namesmall">2020.10~2020.11</div>
	<b class="name">웹 개인 프로젝트 - Travel to Busan </b>
	<div class="contents">
		<b class="type">👇 시연영상 (🔊소리가 있습니다!)</b>
		<video controls src="../css/img/projects/model1/Travel to Busan.mp4"></video>
		<b class="type">👇 PPT</b>
		<div class="busanppt">
		<script type="text/javascript">
			for(var i=1;i<15;i++){
				  document.write("<img src=../css/img/projects/model1/model1("+i+").png><br><br><br>"); 
			}
		</script>
		</div>
	</div>
	</section>
</article>
</body>
</html>

