<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>JeongSeongYeon-portfolio</title>
	<link href="../css/projects-top.css" rel="stylesheet">
	<link href="../css/projects.css" rel="stylesheet">
</head>
<body>
<header>
 <nav id="top-nav">
  <ul class="top-ul">
   <li class="nav-main"><a href="../main.html" class="color-white">Main</a></li>
   <li class="nav-my"><a href="../view/resume.html" class="color-white">Resume</a></li>
   <li class="nav-proj"><a href="../view/projects.html" class="color-white">Projects</a></li>
  </ul>
  </nav>
  <nav id="sec-nav">
  <ul class="sec-ul">
   <li class="sec-nav-into"><a href="#space-secBP" class="color-white">Best Price Market</a></li>
   <li class="sec-nav-skill"><a href="#space-sec0405" class="color-white">Skill</a></li>
   <li class="sec-nav-edu"><a href="#space-sec0809" class="color-white">Education</a></li>
  </ul>
  </nav>
</header>

<article>
	<div id="space-secBP"></div>
	<section class="BP">
		<span class="name">팀 프로젝트 <span class="namesmall">- 2020.10~2020.11</span></span>
		<div class="img">
			<script type="text/javascript">
				for(var i=0;i<41;i++){
					  document.write("<img src=../css/img/projects/BP/BP("+i+").png><br><br><br>"); 
				}
			</script>
		</div>
	</section>
	
	<!-- 
	<div id="space-secBP"></div>
	<section class="cal">
	<span class="name">팀 프로젝트 <span class="namesmall">- 2020.10~2020.11</span></span>
	<div class="img">
		<script type="text/javascript"> 
			for(var i=0;i<41;i++){
				  document.write(""); 
			}
		</script>
	</div>
	</section>
	 -->
	 
	<div id="space-secBP"></div>
	<section class="model1">
	<span class="name">팀 프로젝트 <span class="namesmall">- 2020.10~2020.11</span></span>
	<div class="img">
		<script type="text/javascript">
			for(var i=1;i<15;i++){
				  document.write("<img src=../css/img/projects/model1/model1("+i+").png><br><br><br>"); 
			}
		</script>
	</div>
	</section>
</article>
</body>
</html>

