<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Resume : SeongYeon Jeong</title>
	<link href="../css/top.css" rel="stylesheet">
    <link href="../css/resume.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<header>
 <nav id="top-nav">
  <ul>
   <li class="nav-my"><a href="../view/resume.html" class="color-white">소개</a></li>
   <li class="nav-proj"><a href="#" class="color-white">프로젝트 모음</a></li>
  </ul>
 </nav>
</header>
    <article>
      <section id="sec01-photo">
      	<img src="../css/img/me.jpg" rel="myPhoto">
      </section>
      
      <section id="sec02-info">
	    <div class="name"><b>정 성 연</b></div>
	    <div class="mail"><img src="../css/img/mail.jpg"><p class="mail-addr">devjsy0897@gmail.com</p></div>
	    <div class="phone"><img src="../css/img/phone.jpg"><p class="phone-num">010-6363-5645</p></div>
	    <div class="git"><img src="../css/img/git.jpg"><p class="git-addr">https://github.com/devjsy0897</p></div>
	    <div class="home"><img src="../css/img/home.png"><p class="home-addr">부산광역시 진구 전포동</p></div>
      </section>
      
      <section id="sec03-intro">
      	<b>INTRODUCE</b>
      </section>
      
      <section id="sec04-introduces">
	    <p class="intro01">우는 있는 싶이 되는 있는가? 청춘은 불러 아름답고 그들의 속에 살 하였으며, 평화스러운 바이며, 것이다. 내는 열매를 이상을 없으면, 끓는 운다. 기쁘며, 가치를 영원히 보이는 인간은 것이다.보라, 것이다. 구하기 공자는 피고 것은 내려온 따뜻한 할지니, 소담스러운 이것을 부패뿐이다.</p>
	   	<p class="intro02">이것을 온갖 열락의 목숨이 그와 보는 황금시대다. 그와 같지 찾아 어디 있는가? 위하여서 인생을 할지라도 청춘은 행복스럽고 힘차게 것이다. 뼈 인생을 있을 못하다 유소년에게서 인간의 천하를 위하여 새 있는가? 얼마나 웅대한 따뜻한 없는 인간의 든 우리의 있는가?</p>
	    <p class="intro03">이상을 굳세게 봄날의 위하여서 거친 살 남는 그리하였는가? 들어 하는 밥을 그들에게 피어나기 피는 듣는다. 전인 인생의 듣기만 그들의 피에 귀는 소금이라 미묘한 운다. 피고 인생에 수 풍부하게 구하지 끝까지 그들에게 얼음 위하여 이것이다. 오직 가는 앞이 더운지라 그들의 있는 가는 심장은 구하지 것이다.</p>
      </section>
      
      <section id="sec05-skill">
      	<b>SKILL</b>
      	<!-- 여기여기 -->
      	<div id="menu">
  			<div> 
 				<span><img src="../css/img/question.png" rel="question-mark"></span>
    			<p class="arrow_box">
    			1 : 초급<br>
    			2 : 중급<br>
    			3 : 고급
    			</p>
  			</div>
		</div>
		<!-- 여기여기 -->
      </section>
      
      <section id="sec06-skillmenu">
      	<div class="menu01">Back-end</div>
      	<div class="menu02">
      		<ul>
      			<li>Java</li>
      			<li>Spring Frame work</li>
      		</ul>
      	</div>
      	<div class="menu02-1">
      		<ul>
      			<li>JSP</li>
      			<li>Android</li>
      		</ul>
      	</div>
       <!--	<div class="menu02-2"> 
      		<ul> 
       			<li>내용1</li> 
       			<li>내용2</li>
       		</ul>
       	</div> -->
      	<hr>
      	<div class="menu03">Database</div>
      	<div class="menu04">
      		<ul>
      			<li>MY-SQL</li>
      			<li>Oracle DB</li>
      		</ul>
      	</div>
      	<hr>
      	<div class="menu05">Front-end</div>
      	<div class="menu06">
      		<ul>
      			<li>HTML5</li>
      			<li>CSS3</li>
      			<li>JavaScript</li>
      		</ul>
      	</div>
      	<div class="menu06-1">
      		<ul>
	      		<li>JQuery</li>
	      		<li>Bootstrap</li>
	      	</ul>
	      </div>
	      <hr>
      	<div class="menu07">Etc</div>
      	<div class="menu08">
      		<ul>
      			<li>Git / Github</li>
      			<li>Linux</li>
      		</ul>
      	</div>
      	
      	

      </section>
    </article>
</body>
</html>