<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Resume : SeongYeon Jeong</title>
    <link href="../css/resume.css" rel="stylesheet">
    <link href="../css/resume-small.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="../css/img/main/icon.ico" rel="icon">
</head>
<body>
<header>
 <nav id="top-nav">
  <ul class="top-ul">
   <li class="nav-main"><a href="../main.html" class="color-white">Main</a></li>
   <li class="nav-my"><a href="../view/resume.html" class="color-white">Resume</a></li>
   <li class="nav-proj"><a href="../view/projects.html" class="color-white">Projects</a></li>
  </ul>
  </nav>
  <nav id="sec-nav">
  <ul class="sec-ul">
   <li class="sec-nav-into"><a href="#space-sec0203" class="color-white">Introduce</a></li>
   <li class="sec-nav-skill"><a href="#space-sec0405" class="color-white">Skill</a></li>
   <li class="sec-nav-project"><a href="#space-sec0607" class="color-white">Project</a></li>
   <li class="sec-nav-edu"><a href="#space-sec0809" class="color-white">Education</a></li>
  </ul>
  </nav>
</header>
    <article>
    	
<!--       <section id="sec01-photo"> -->
<!--       	<img src="../css/img/resume/me.jpg" rel="myPhoto" class="mephoto"> -->
<!--       </section> -->
      
      
      
<!--       <section id="sec02-info"> -->
<!-- 	    <div class="name"><b>정 성 연</b></div> -->
<!-- 	    <div class="mail"><img src="../css/img/resume/mail.jpg"><p class="mail-addr">devjsy0897@gmail.com</p></div> -->
<!-- 	    <div class="git"><img src="../css/img/resume/git.jpg"><p class="git-addr"><a href="https://github.com/devjsy0897">github.com/devjsy0897</a></p></div> -->
<!-- 	    <div class="home"><img src="../css/img/resume/home.png"><p class="home-addr">부산광역시 진구 전포동</p></div> -->
<!--       </section> -->
      <div id="space-sec0203"></div>
      <section id="sec03-intro">
      <img src="../css/img/resume/face.png" rel="myPhotocircle" class="smallphoto">
      	<b>INTRODUCE</b>
      	<img src="../css/img/resume/face.png" rel="myPhotocircle" class="facephoto">
      </section>
      
      <section id="sec04-introduces">
	    <p class="intro01">웹/앱 서비스 개발에 발을 내딛는 신입개발자입니다.<br>
	    					JAVA, JSP, SPRING, MYSQL, Android 등을 이용하여 팀 프로젝트, 개인 프로젝트 등 다양한 경험이 있습니다. </p>
	   	<p class="intro02">특히 앱 개발에 흥미를 느끼고 관심이 많습니다. 클래식한 계산기 어플을 만들어 플레이 스토어에 올리기도 하였습니다.</p>
	    <p class="intro03">현재는 자바로 안드로이드 개발중이지만, 앞으로의 목표는 코틀린을 학습하여 코틀린을 이용하는 앱 개발자가 되고 싶습니다. 또한 그 이후에는 React Native을 학습해 크로스 개발을 할 예정입니다.</p>
	    <p class="intro04">개발자로서의 목표는 사람들의 생활에 도움을 주는 서비스 개발을 하는 것입니다.</p>
      </section>
      <div id="space-sec0405"></div>
      
      <section id="sec05-skill">
      	<b>SKILL</b>
      	<!-- question mark -->
      	<div id="menu">
  			<div> 
 				<span><img src="../css/img/resume/question.png" rel="question-mark"></span>
    			<p class="arrow_box">
    			1 : 입문 수준<br>
    			2 : 초급 수준<br>
    			3 : 중급 이상
    			</p>
  			</div>
		</div>
		<!-- question mark -->
      </section>

      <section id="sec06-skillmenu">
      	<div class="menu01">Back-end</div>
      	<div class="menu02">
      		<ul>
      			<li><span class="badge badge-primary">3</span>&nbspJava 8</li>
      			<li><span class="badge badge-primary">3</span>&nbspAndroid 10</li>
      		</ul>
      	</div>
      	<div class="menu02-1">
      		<ul>
      			<li><span class="badge badge-secondary">2</span>&nbspJSP 2.3</li>
      			<li><span class="badge badge-secondary">2</span>&nbspSpring MVC</li>
      		</ul>
      	</div>
       <!--	<div class="menu02-2"> 
      		<ul> 
       			<li>내용1</li> 
       			<li>내용2</li>
       		</ul>
       	</div> -->
      	<hr class="skill-1">
      	<div class="menu03">Database</div>
      	<div class="menu04">
      		<ul>
      			<li><span class="badge badge-primary">3</span>&nbspMYSQL 8</li>
      			<li><span class="badge badge-primary">3</span>&nbspOracle 12c</li>
      		</ul>
      	</div>
      	<hr class="skill-1">
      	<div class="menu05">Front-end</div>
      	<div class="menu06">
      		<ul>
      			<li><span class="badge badge-primary">3</span>&nbspHTML 5</li>
      			<li><span class="badge badge-primary">3</span>&nbspCSS 3</li>
      			<li><span class="badge badge-secondary">2</span>&nbspJavaScript</li>
      		</ul>
      	</div>
      	<div class="menu06-1">
      		<ul>
	      		<li><span class="badge badge-light">1</span>&nbspJQuery</li>
	      		<li><span class="badge badge-secondary">2</span>&nbspBootstrap 4</li>
	      	</ul>
	      </div>
	      <hr class="skill-1">
      	<div class="menu07">Etc</div>
      	<div class="menu08">
      		<ul>
      			<li><span class="badge badge-primary">3</span>&nbspwindows 10</li>
      			<li class="centos"><span class="badge badge-light">1</span>&nbspLinux centOS7</li>
      		</ul>
      	</div>
      	<div class="menu08-1">
      		<ul>
	      		<li><span class="badge badge-secondary">2</span>&nbspGit / Github</li>
	      	</ul>
	      </div>
      	<hr class="skill-2">
      </section>
      
      <div id="space-sec0607"></div>
      
      <section id="sec07-project">
      	<b>PROJECT</b>
      </section>
      <section id="sec08-projectlist">
		<div class="list05">2020.10 ~ 2020.11</div>
   		<div class="list06">
   			<div class="list06-title"><a href="projects.html#space-sec0304">팀 프로젝트 - Best Price Market</a></div>
   			<ul>
   				<li>중고 물품 경매 사이트 개발</li>
   				<li>App : HttpURLConnection클래스를 통한 안드로이드 - JSP - MySQL연결 구현</li>
   				<ul class="ul-a">
   					<li>로그인 / 회원정보 수정 / 고객센터 글쓰기, 읽기 기능</li>
   				</ul>
   				<li>App : WebView로 반응형 웹 연결 구현</li>
   				<li>Web : 고객센터 게시판 CRUD 기능 구현</li>
   				<ul class="ul-a">
   					<li>로그인 한 아이디의 글과 이에 대한 관리자 답변만 보이는 알고리즘 구현</li>
   				</ul>
   				<li>Web : BootStrap을 사용하여 전 게시판 css 통일감 구현</li>
   			</ul>
   			<b class="key">Keywords </b>
   			<span class="badge badge-secondary">SPRING MVC</span>
   			<span class="badge badge-secondary">JAVA8</span>
   			<span class="badge badge-secondary">XML</span>
   			<span class="badge badge-secondary">JSP2.3</span>
   			<span class="badge badge-secondary">HTML5</span>
   			<span class="badge badge-secondary">CSS3</span>
   			<span class="badge badge-secondary">Bootstrap4</span>
   			<span class="badge badge-secondary">JavaScript</span>
   			<span class="badge badge-secondary">MySQL8</span>
		</div>
      	<hr class="proj-1">
      	<div class="list03">2020.10 ~ 2020.10</div>
   		<div class="list04">
   			<div class="list04-title"><a href="projects.html#space-sec0203">개인 앱 개발 - 계산기</a></div>
   			<ul>
   				<li>RelativeLayout 이용해 배치</li>
   				<li>사칙연산 알고리즘 구현</li>
   				<li>구글 플레이 스토어 등록 완료 - <a href="https://play.google.com/store/apps/details?id=com.jsy.cal&hl=ko">Google Play</a></li>
   			</ul>
   			<b class="key">Keywords </b>
   			<span class="badge badge-secondary">Android10</span>
   			<span class="badge badge-secondary">JAVA8</span>
   			<span class="badge badge-secondary">XML</span>
		</div>
      	<hr class="proj-1">
      	<div class="list01">2020.08 ~ 2020.09</div>
   		<div class="list02">
   			<div class="list02-title"><a href="projects.html#space-sec0102">개인 웹 개발 - Travel to Busan</a></div>
   			<ul>
   				<li>부산 관광지를 동 / 서 / 남 / 북으로 나눠 게시판 분리</li>
   				<li>로그인 / 회원가입 / 회원정보 수정 기능 구현</li>
   				<li>게시판 CRUD 기능 구현</li>
   				<li>사진 첨부 / 갤러리 기능 구현</li>
   			</ul>
   			<b class="key">Keywords </b>
   			<span class="badge badge-secondary">MVC Model1</span>
   			<span class="badge badge-secondary">JSP2.3</span>
   			<span class="badge badge-secondary">JAVA8</span>
   			<span class="badge badge-secondary">HTML5</span>
   			<span class="badge badge-secondary">CSS3</span>
   			<span class="badge badge-secondary">JavaScript</span>
   			<span class="badge badge-secondary">MySQL8</span>
		</div>
		<hr class="proj-2">
      </section>
      
      <div id="space-sec0809"></div>
      
      <section id="sec09-education">
      	<b>EDUCATION</b>
      </section>

     <section id="sec10-edulist">
		<div class="list05">2020.05 ~ 2020.11</div>
   		<div class="list06">
   			<div class="list06-title">아이티윌 부산교육 센터</div>
   			<div class="list06-content">전자정부 프레임워크 자바(JAVA)개발자 양성 프로그램 이수</div>
   			<span class="badge badge-secondary">JAVA8</span>
   			<span class="badge badge-secondary">Android10</span>
   			<span class="badge badge-secondary">MVC Model1</span>
   			<span class="badge badge-secondary">MVC Model2</span>
   			<span class="badge badge-secondary">JSP2.3</span>
   			<span class="badge badge-secondary">Spring4</span>
   			<span class="badge badge-secondary">HTML5</span>
   			<span class="badge badge-secondary">CSS3</span>
   			<span class="badge badge-secondary">JavaScript</span>
   			<span class="badge badge-secondary">jQuery</span>
   			<span class="badge badge-secondary">MySQL8</span>
   			<span class="badge badge-secondary">Oracle12c</span>
   			<span class="badge badge-secondary">Tomcat8.5</span>
   			<span class="badge badge-secondary">Eclipse Neon.3</span>
		</div>
      	<hr class="skill-1">
      	<div class="list03">2011.03 ~ 2018.08</div>
   		<div class="list04">
   			<div class="list04-title">동명대학교</div>
   			<div class="list04-content">자동차공학과 전공 학사 졸업</div>
		</div>
      	<hr class="skill-1">
      	<div class="list01">2008.03 ~ 2011.02</div>
   		<div class="list02">
   			<div class="list02-title">화명고등학교</div>
   			<div class="list02-content">자연계(이과) 졸업</div>
		</div>


      	
      </section>
      
      
    </article>
    <hr class="hr-final">
     <b class="cont">CONTACT</b>
     <div class="email"><img alt="email" src="../css/img/resume/mail.jpg" class="img-mail">e-mail : devjsy0897@gmail.com</div>
     <div class="git"><img alt="git" src="../css/img/resume/git.jpg" class="img-git">github : <a href="https://github.com/devjsy0897">https://github.com/devjsy0897</a></div>
     
    
    
</body>
</html>