<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> 
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> 
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
    <link href="../css/slideMain.css" rel="stylesheet">
   
</head>
<body>

<section data-color="black" style="text-align: center;">
	<video src="../css/img/SlideMain/introduce_2.mp4" style="height: 100vh; width:90vw; overflow: hidden; margin: 0 auto;" autoplay="autoplay" muted="muted" loop=""></video>
</section>

<section data-color="white"  style=" display: table-cell; vertical-align: middle;">
	<div style="display: flex;">
		<div style=" flex:1; text-align: center;"><img src="../css/img/SlideMain/resume1.jpg" class="resumeImg" style="width: 70%;"  /></div>
		<div style=" flex:1; float: left;" ><div data-aos="fade-up" data-aos-duration="2000" style="margin-left: 10%;"><h1>이력서</h1> <h3>제가 어떤 사람인지<br> 어떤 일을 해왔는지<br> 궁금하다면 클릭해 보세요. </h3> <a href="../view/resume.html">이력서 바로 가기 ></a></div></div>
	</div>
</section>

<div></div>

<section data-color="black" style=" display: table-cell; vertical-align: middle;  color: white;">
	<div style="display: flex;">
		<div style=" flex:1; text-align: right;" data-aos="fade-up" data-aos-duration="2000"><div style="text-align: right;"><h1>개인 프로젝트</h1><h3>편리한 재고관리를 위해 <br> 개발했습니다. </h3><a href="#">어딧지? 바로 가기 ></a></div><div data-aos="zoom-in" data-aos-delay="1000" data-aos-duration="2000"><img id="iphone" src="../css/img/SlideMain/iphone1.png" style="width: 15vw; position: absolute; left: 20vw; top: -15vh;"></div><div data-aos="fade-up" data-aos-delay="1000" data-aos-duration="2000"><h3>물론 어플도 있죠.</h3> 어플 바로 가기 ></div></div>
		<div style=" flex:1; text-align: center;"><img src="../css/img/projects/BP/BP(1).png" style="width: 70%;"></div>
	</div>
</section>


</body>
</html>